<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Portfolio Website</title>
        <link rel="stylesheet" href="../Styles/index.css" />
    </head>
    <body>

        <!-- Header Content -->
        <header>
            <div class="menuButton" onclick="menuToggle(this)">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </div>
            <h1>Title</h1>

            <!-- Navigation Buttons-->
            <div class="navContainer">
                <ul>
                    <li>
                        <div class="navButton">
                            <a href="www.google.com">This</a>
                        </div>
                    </li>
                    <li>
                        <div class="navButton">
                            <a href="www.google.com">This</a>
                        </div>
                    </li>
                    <li>
                        <div class="navButton">
                            <a href="www.google.com">This</a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>

        <!-- Main Content-->
        <section id="Main">
            
            <!-- Menu Buttons-->
            <ul id="menu" class="menuOff">  
                <div class="navContainer">
                    <div class="navButton">
                        <a href="http://www.griffithswebdesign.com">Item 1</a>
                    </div>
                    <div class="navButton">
                        <a href="http://www.griffithswebdesign.com">Item 2</a>
                    </div>
                    <div class="navButton">
                        <a href="http://www.griffithswebdesign.com">Item 3</a>
                    </div>
                </div>
            </ul> 
        
            <div class="main-container">
                <div class="title">
                    <h2>Title</h2>
                </div>
                <div class="content">
                    <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h3>
                </div>
            </div>
            <div class="main-container">
                <h2>test</h2>
            </div>
            <div class="main-container">
                <h2>test</h2>
            </div>
            <div class="main-container">
                <h2>test</h2>
            </div>
        </section>

        <!-- Footer Section-->
        <footer>
            <div class="contactInfo">
                <p>Logan Rohlfs</p>
                <p>loganrohlfs76@gmail.com</p>
                <p>(214)-901-8750</p>
            </div>
        </footer>
        <script src="../Javascript/index.js"></script>
    </body>
    </html>
